<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.xoriant.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/UserType</url-pattern>
  </filter-mapping>
  <servlet>
    <description>Decides Which Type Of User And Redirects The Path</description>
    <display-name>UserTypeServlet</display-name>
    <servlet-name>UserTypeServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.UserTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeServlet</servlet-name>
    <url-pattern>/UserType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailsServlet</display-name>
    <servlet-name>BookDetailsServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.BookDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailsServlet</servlet-name>
    <url-pattern>/BookDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInformationServlet</display-name>
    <servlet-name>UserInformationServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.UserInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformationServlet</servlet-name>
    <url-pattern>/UserInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveBookServlet</display-name>
    <servlet-name>ReserveBookServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.ReserveBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveBookServlet</servlet-name>
    <url-pattern>/ReserveBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/Modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyAdminServlet</display-name>
    <servlet-name>ModifyAdminServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.ModifyAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAdminServlet</servlet-name>
    <url-pattern>/ModifyAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetUserInfoServlet</display-name>
    <servlet-name>AdminGetUserInfoServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.AdminGetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetUserInfoServlet</servlet-name>
    <url-pattern>/AdminGetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetSelfInformationServlet</display-name>
    <servlet-name>AdminGetSelfInformationServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.AdminGetSelfInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetSelfInformationServlet</servlet-name>
    <url-pattern>/AdminGetSelfInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteServlet</display-name>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/AdminDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookServlet</display-name>
    <servlet-name>IssueBookServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.IssueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookServlet</servlet-name>
    <url-pattern>/IssueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingServlet</display-name>
    <servlet-name>PendingServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.PendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingServlet</servlet-name>
    <url-pattern>/Pending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelRequestServlet</display-name>
    <servlet-name>CancelRequestServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.CancelRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelRequestServlet</servlet-name>
    <url-pattern>/CancelRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBookRequestServlet</display-name>
    <servlet-name>CheckBookRequestServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.CheckBookRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBookRequestServlet</servlet-name>
    <url-pattern>/CheckBookRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeServlet</display-name>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookInformationServlet</display-name>
    <servlet-name>BookInformationServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.BookInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInformationServlet</servlet-name>
    <url-pattern>/BookInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailServlet</display-name>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByAllServlet</display-name>
    <servlet-name>SearchByAllServlet</servlet-name>
    <servlet-class>com.xoriant.servlet.SearchByAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByAllServlet</servlet-name>
    <url-pattern>/SearchByAll</url-pattern>
  </servlet-mapping>
</web-app>